<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Procedure - Outpatient List</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <button class="btn btn-primary" routerLink="/procedure-outpatient-list">Outpatient List</button>
                    <button class="btn btn-primary btn-outline" routerLink="/procedure-inpatient-list">Inpatient List</button>
                    <button class="btn btn-primary btn-outline" routerLink="/procedure-outsider-list">Outsider List</button>

                </div>
                <div class="panel-body">
                    
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="success">
                        <tr>
                            
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>    
                </div>  
            </div>
        </div>
    </div>
</section> <!-- /.content -->