    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-title">
            <h1>Patient Register</h1>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Form controls -->
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn"> 
                            <a class="btn btn-primary" (click)="newPatientPrompt()">New</a>  
                        </div>
                        <div class="btn"> 
                            <a class="btn btn-primary" (click)="existingPatientPrompt()">Existing</a>  
                        </div>
                        <div class="btn-group"> 
                            <a class="btn btn-primary" routerLink="/patient-list"> <i class="fa fa-list"></i>List</a>  
                        </div>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="patientRecordMode === 'new'">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Patient's Credentials</label>
                                    <input type="hidden" [(ngModel)]="id">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>First Name*</label>
                                            <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="Enter First Name" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Middle Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="middleName" placeholder="Enter Middle Name">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Last Name*</label>
                                            <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Enter Last Name" required>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Date of Birth*</label>
                                            <input type="date" class="form-control" [(ngModel)]="dateOfBirth" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Gender*</label>
                                            <select class="form-control" [(ngModel)]="gender">
                                                <option>{{gender}}</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Select Patient Type*</label>
                                            <select class="form-control" [(ngModel)]="patientType">
                                                <option></option>
                                                <option>OUTPATIENT</option>
                                                <option>OUTSIDER</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Nationality</label>
                                            <select class="form-control" [(ngModel)]="nationality">
                                                <option></option>
                                                <option>Tanzania</option>
                                                <option>Kenya</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>ID No</label>
                                            <input type="text" class="form-control" [(ngModel)]="nationalId" placeholder="ID No" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Passport No</label>
                                            <input type="text" class="form-control" [(ngModel)]="passportNo" placeholder="Passport No" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Phone No</label>
                                            <input type="tel" class="form-control" [(ngModel)]="phoneNo" placeholder="Phone Number" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Address</label>
                                            <textarea class="form-control" [(ngModel)]="address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
                                    <hr>
                                    <label>Relative Information</label>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Full Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="kinFullName" placeholder="Enter Full Name" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Relationship</label>
                                            <input type="text" class="form-control" [(ngModel)]="kinRelationship" placeholder="Enter Relationship with patient">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Phone No</label>
                                            <input type="tel" class="form-control" [(ngModel)]="kinPhoneNo" placeholder="Enter Phone No" required>
                                        </div>
                                    </div>
                                    <hr>
                                    
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Select Payment Type</label>
                                            <select class="form-control" [(ngModel)]="paymentType" (ngModelChange)="changePaymentType(paymentType)">
                                                <option></option>
                                                <option>Cash</option>
                                                <option>Debit Card</option>
                                                <option>Credit Card</option>
                                                <option>Insurance</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group" *ngIf="paymentType === 'Insurance'">
                                            <label>Select Insurance Plan</label>
                                            <select class="form-control" [(ngModel)]="insurancePlan">
                                                <option></option>
                                                <option>NHIF</option>
                                                <option>JUBILEE</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group" *ngIf="paymentType === 'Debit Card'">
                                            <label>Debit Card No</label>
                                            <input type="text" class="form-control" placeholder="Debit Card No">
                                        </div>
                                        <div class="col-sm-4 form-group" *ngIf="paymentType === 'Credit Card'">
                                            <label>Credit Card No</label>
                                            <input type="text" class="form-control" placeholder="Credit Card No">
                                        </div>
                                        <div class="col-sm-4 form-group" *ngIf="insurancePlan != '' && paymentType === 'Insurance'">
                                            <label>Membership No</label>
                                            <input type="text" class="form-control" placeholder="Insurance Membership No">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-12">
                                    <button class="btn btn-primary pull-right" *ngIf="paymentType != ''" (click)="registerPatient()">Register</button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="patientRecordMode === ''">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Search Patient</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-9">
                                                    <input type="text" class="form-control" [(ngModel)]="searchKey" (input)="searchBySearchKey(searchKey)"  list="search_keys" placeholder="Search by File#, name or phone">
                                                    <datalist id="search_keys" style="padding: 0px;" >
                                                        <option *ngFor="let s of searchKeys" [ngValue]="s">{{s}}</option>
                                                    </datalist> 
                                                </div>
                                                <div class="col-xs-3">
                                                    <button class="btn btn-deafult btn-outline" (click)="existingPatientPrompt()">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" *ngIf="id != null">
                                <div class="panel-body jumbotron" style="border-radius: 2mm;">
                                    <div class="table-responsive">
                                        <h4 class="text-success">Patient Details   <button class="btn btn-success btn-outline  pull-right" data-toggle="modal" data-target="#edit-modal">Edit Patient</button></h4>
                                        <table class="table table-bordered table-small table-striped" style="text-align: center;">
                                            <tbody>
                                                <tr><td>First Name</td><td>{{firstName}}</td></tr>
                                                <tr><td>Last Name</td><td>{{lastName}}</td></tr>
                                                <tr><td>Other Names</td><td>{{middleName}}</td></tr>
                                                <tr><td>File No</td><td>{{no}}</td></tr>
                                                <tr><td>Phone No</td><td>{{phoneNo}}</td></tr>
                                                <tr><td>Date of Birth</td><td>{{dateOfBirth}}</td></tr>  
                                                <tr><td>Gender</td><td>{{gender}}</td></tr>  
                                                <tr><td>Address</td><td>{{address}}</td></tr>
                                                <tr><td>Country Name</td><td>{{nationality}}</td></tr> 
                                                <tr><td>National ID</td><td>{{nationalId}}</td></tr> 
                                                <tr><td>Passport ID</td><td>{{passportNo}}</td></tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive">
                                        <h4 class="text-success">Next of Kin Details</h4>
                                        <table class="table table-bordered table-small table-striped" style="text-align: center;">
                                            <tbody>
                                                <tr><td>Name</td><td>{{kinFullName}}</td></tr>
                                                <tr><td>Phone No</td><td>{{kinPhoneNo}}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive">
                                        <h4 class="text-success">Last Patient Payment Details</h4>
                                        <table class="table table-bordered table-small table-striped" style="text-align: center;">
                                            <tbody>
                                                <tr><td>Last Visit</td><td></td></tr>
                                                <tr><td>Last Visit Clinic</td><td></td></tr>  
                                                <tr><td>Last Visit Doctor</td><td></td></tr>  
                                                <tr><td>Last Card/Payment Type used</td><td></td></tr>  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div>
                                    <div class="row" *ngIf="id != null">
                                        <div class="col-sm-12 form-group">
                                            <label>Select Payment Type</label>
                                            <select class="form-control" [(ngModel)]="paymentType" (ngModelChange)="changePaymentType(paymentType)">
                                                <option></option>
                                                <option>Cash</option>
                                                <option>Debit Card</option>
                                                <option>Credit Card</option>
                                                <option>Insurance</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 form-group" *ngIf="paymentType === 'Insurance'">
                                            <label>Select Insurance Plan</label>
                                            <select class="form-control" [(ngModel)]="insurancePlan">
                                                <option></option>
                                                <option>NHIF</option>
                                                <option>JUBILEE</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 form-group" *ngIf="paymentType === 'Debit Card'">
                                            <label>Debit Card No</label>
                                            <input type="text" class="form-control" placeholder="Debit Card No">
                                        </div>
                                        <div class="col-sm-12 form-group" *ngIf="paymentType === 'Credit Card'">
                                            <label>Credit Card No</label>
                                            <input type="text" class="form-control" placeholder="Credit Card No">
                                        </div>
                                        <div class="col-sm-12 form-group" *ngIf="insurancePlan != '' && paymentType === 'Insurance'">
                                            <label>Membership No</label>
                                            <input type="text" class="form-control" placeholder="Insurance Membership No">
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <button class="btn btn-primary pull-right">Save</button>
                                        </div>                                                
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div>

                                    <div *ngIf="patientType != 'OUTSIDER' && id != null && paymentType != ''">
                                        <label>Send to Doctor</label>
                                        <div class="row">
                                            <div class="col-sm-12 form-group" >
                                                <label>Select Clinic</label>
                                                <select class="form-control" [(ngModel)]="clinicName" ngModel (ngModelChange)="loadClinicianNames(clinicName)" (ngModelChange)="loadConsultationFee()">
                                                    <option></option>
                                                    <option *ngFor="let name of clinicNames">{{name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 form-group" *ngIf="clinicName != ''">
                                                <span class="form-control" style="text-align: center;">Consultation Fee  <b>{{consultationFee | currency:'':''}}</b></span>
                                            </div>
                                            <div class="col-sm-12 form-group">
                                                <label>Select Doctor</label>
                                                <select class="form-control" [(ngModel)]="clinicianName">
                                                    <option></option>
                                                    <option *ngFor="let name of clinicianNames">{{name}}</option>
                                                </select>
                                                <br>
                                                <button class="btn btn-primary pull-right" *ngIf="clinicName != '' && clinicianName != ''">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="patientType === 'OUTSIDER'">
                                        for outsider patients
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
         
     </section> <!-- /.content -->

     <!-- Main content -->


 <!-- Modal success -->
<div class="modal fade modal-success" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Edit Patient Details</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Patient's Credentials</label>
                        <input type="hidden" [(ngModel)]="id">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>First Name*</label>
                                <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="Enter First Name" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Middle Name</label>
                                <input type="text" class="form-control" [(ngModel)]="middleName" placeholder="Enter Middle Name">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Last Name*</label>
                                <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Enter Last Name" required>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Date of Birth*  </label>  *<span>{{dateOfBirth | date}}</span>
                                <input type="date" class="form-control" [(ngModel)]="dateOfBirth" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Gender*</label>
                                <select class="form-control" [(ngModel)]="gender">
                                    <option>{{gender}}</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Select Patient Type*</label>
                                <select class="form-control" [(ngModel)]="patientType">
                                    <option></option>
                                    <option>OUTPATIENT</option>
                                    <option>OUTSIDER</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Nationality</label>
                                <select class="form-control" [(ngModel)]="nationality">
                                    <option></option>
                                    <option>Tanzania</option>
                                    <option>Kenya</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>ID No</label>
                                <input type="text" class="form-control" [(ngModel)]="nationalId" placeholder="ID No" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Passport No</label>
                                <input type="text" class="form-control" [(ngModel)]="passportNo" placeholder="Passport No" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Phone No</label>
                                <input type="tel" class="form-control" [(ngModel)]="phoneNo" placeholder="Phone Number" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Address</label>
                                <textarea class="form-control" [(ngModel)]="address"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <hr>
                        <label>Relative Information</label>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" [(ngModel)]="kinFullName" placeholder="Enter Full Name" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Relationship</label>
                                <input type="text" class="form-control" [(ngModel)]="kinRelationship" placeholder="Enter Relationship with patient">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Phone No</label>
                                <input type="tel" class="form-control" [(ngModel)]="kinPhoneNo" placeholder="Enter Phone No" required>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Select Payment Type</label>
                                <select class="form-control" [(ngModel)]="paymentType" (ngModelChange)="changePaymentType(paymentType)">
                                    <option></option>
                                    <option>Cash</option>
                                    <option>Debit Card</option>
                                    <option>Credit Card</option>
                                    <option>Insurance</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group" *ngIf="paymentType === 'Insurance'">
                                <label>Select Insurance Plan</label>
                                <select class="form-control" [(ngModel)]="insurancePlan">
                                    <option></option>
                                    <option>NHIF</option>
                                    <option>JUBILEE</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group" *ngIf="paymentType === 'Debit Card'">
                                <label>Debit Card No</label>
                                <input type="text" class="form-control" placeholder="Debit Card No">
                            </div>
                            <div class="col-sm-4 form-group" *ngIf="paymentType === 'Credit Card'">
                                <label>Credit Card No</label>
                                <input type="text" class="form-control" placeholder="Credit Card No">
                            </div>
                            <div class="col-sm-4 form-group" *ngIf="insurancePlan != '' && paymentType === 'Insurance'">
                                <label>Membership No</label>
                                <input type="text" class="form-control" placeholder="Insurance Membership No">
                            </div>
                        </div>
                    </div>
                </div>






                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" *ngIf="id != null" (click)="updatePatient()" data-dismiss="modal">Update</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
