    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-title">
            <h1>Patient Register</h1>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn"> 
                            <a class="btn btn-primary" (click)="newPatientPrompt()">New Patient</a>  
                        </div>
                        <div class="btn"> 
                            <a class="btn btn-primary" (click)="existingPatientPrompt()">Existing Patient</a>  
                        </div>
                        <div class="btn"> 
                            <!--<a class="btn btn-primary" routerLink="/patient-list"> <i class="fa fa-list"></i>Today List</a>-->  
                        </div>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="patientRecordMode === 'new'">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-primary"><b>Patient's Credentials</b></h4>
                                    <input type="hidden" [(ngModel)]="id">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">First Name*</h4>
                                            <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="Enter First Name" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Middle Name</h4>
                                            <input type="text" class="form-control" [(ngModel)]="middleName" placeholder="Enter Middle Name">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Last Name*</h4>
                                            <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Enter Last Name" required>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Date of Birth*</h4>
                                            <input type="date" class="form-control" [(ngModel)]="dateOfBirth" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Gender*</h4>
                                            <select class="form-control" [(ngModel)]="gender">
                                                <option>{{gender}}</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Select Patient Type*</h4>
                                            <select class="form-control" [(ngModel)]="type">
                                                <option></option>
                                                <option>OUTPATIENT</option>
                                                <option>OUTSIDER</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Nationality</h4>
                                            <select class="form-control" [(ngModel)]="nationality">
                                                <option></option>
                                                <option>Tanzania</option>
                                                <option>Kenya</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">ID No</h4>
                                            <input type="text" class="form-control" [(ngModel)]="nationalId" placeholder="ID No" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Passport No</h4>
                                            <input type="text" class="form-control" [(ngModel)]="passportNo" placeholder="Passport No" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Phone No</h4>
                                            <input type="tel" class="form-control" [(ngModel)]="phoneNo" placeholder="Phone Number" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Email</h4>
                                            <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Address</h4>
                                            <textarea class="form-control" [(ngModel)]="address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
                                    <hr>
                                    <h4 class="text-primary"><b>Relative Information</b></h4>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Full Name</h4>
                                            <input type="text" class="form-control" [(ngModel)]="kinFullName" placeholder="Enter Full Name" required>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Relationship</h4>
                                            <input type="text" class="form-control" [(ngModel)]="kinRelationship" placeholder="Enter Relationship with patient">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary">Phone No</h4>
                                            <input type="tel" class="form-control" [(ngModel)]="kinPhoneNo" placeholder="Enter Phone No" required>
                                        </div>
                                    </div>
                                    <hr>
                                    
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <h4 class="text-primary"><b>Select Payment Type</b></h4>
                                            <select class="form-control" [(ngModel)]="paymentType" (ngModelChange)="changePaymentType(paymentType)">
                                                <option></option>
                                                <option>CASH</option>
                                                <option>INSURANCE</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group" *ngIf="paymentType === 'INSURANCE'">
                                            <h4 class="text-primary">Select Insurance Plan</h4>
                                            <select class="form-control" [(ngModel)]="insurancePlanName">
                                                <option></option>
                                                <option *ngFor="let insurancePlanName of insurancePlanNames">{{insurancePlanName}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-group" *ngIf="insurancePlanName != '' && paymentType === 'INSURANCE'">
                                            <h4 class="text-primary">Membership No</h4>
                                            <input type="text" class="form-control" [(ngModel)]="membershipNo" placeholder="INSURANCE Membership No">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-12">
                                    <button class="btn btn-primary pull-right" *ngIf="paymentType != ''" (click)="registerPatient()">Register</button>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="patientRecordMode === ''">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-3"></div>
                                                <div class="col-xs-6">
                                                    <h4 class="text-primary"><b>Search Patient(Enter 4 characters)</b></h4>
                                                    <input type="text" class="form-control" [(ngModel)]="searchKey" (ngModelChange)="filterSearchKeys($event)" [readonly]="lockSearchKey" placeholder="Search by File#, name or phone" style="max-width: 13cm;">
                                                    <div class="row" *ngIf="lockSearchKey === false && searchKey.length > 0">
                                                        <div class="col-sm-12" *ngFor="let s of searchKeysToDisplay">
                                                            <button class="btn btn-default form-control"  (click)="searchBySearchKey(s)" style="text-align: left; border-style: none;">{{s}}</button>
                                                        </div>
                                                    </div>
                                                    <datalist id="search_keys">
                                                        <option *ngFor="let s of searchKeys" [ngValue]="s">{{s}}</option>
                                                    </datalist> 
                                                </div>
                                                <div class="col-xs-3">
                                                    <br><br>
                                                    <button class="btn btn-deafult btn-outline" (click)="existingPatientPrompt()">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" *ngIf="id != null">
                                <div class="panel-body" style="border-radius: 2mm;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="table-responsive">
                                                <h4 class="text-primary"><b>Patient Details</b>   <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#edit-modal" style="margin-bottom: 2mm;">Edit Patient</button></h4>
                                                <table class="table table-bordered table-small table-striped" style="text-align: center;">
                                                    <tbody>
                                                        <tr><td>First Name</td><td>{{firstName}}</td></tr>
                                                        <tr><td>Last Name</td><td>{{lastName}}</td></tr>
                                                        <tr><td>Other Names</td><td>{{middleName}}</td></tr>
                                                        <tr><td>File No</td><td>{{no}}</td></tr>
                                                        <tr><td>Phone No</td><td>{{phoneNo}}</td></tr>
                                                        <tr><td>Date of Birth</td><td>{{dateOfBirth | date}}</td></tr>  
                                                        <tr><td>Gender</td><td>{{gender}}</td></tr>  
                                                        <tr><td>Address</td><td>{{address}}</td></tr>
                                                        <tr><td>Country Name</td><td>{{nationality}}</td></tr> 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="table-responsive">
                                                <h4 class="text-primary"><b>Next of Kin Details</b></h4>
                                                <table class="table table-bordered table-small table-striped" style="text-align: center;">
                                                    <tbody>
                                                        <tr><td>Name</td><td>{{kinFullName}}</td></tr>
                                                        <tr><td>Phone No</td><td>{{kinPhoneNo}}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="table-responsive">
                                                <h4 class="text-primary"><b>Last Patient Payment Details</b></h4>
                                                <table class="table table-bordered table-small table-striped" style="text-align: center;">
                                                    <tbody>
                                                        <tr><td>Last Visit</td><td>{{lastVisitDate | date}}</td></tr>
                                                        <tr><td>Last Card/Payment Type used</td><td>{{paymentType}}</td></tr>  
                                                    </tbody>
                                                </table>
                                            </div>
                                            <span class="label label-primary label-lg m-r-15">Patient Type: {{type}}</span><span class="label label-success label-lg m-r-15" (click)="clearEditType()" data-toggle="modal" data-target="#change-patient-type-modal">Change Patient Type</span><br><br>
                                            <span class="label label-primary m-r-15">Payment Type: {{paymentType}}</span><span class="label label-success label-lg m-r-15" (click)="clearEditPaymentType()" (click)="clearEditMembershipNo()" (click)="clearEditInsurancePlanName()" data-toggle="modal" data-target="#change-payment-type-modal">Change Payment Type</span><br><br>
                                            <div *ngIf="paymentType === 'INSURANCE'">
                                                <span class="label label-primary m-r-15">Insurance: {{insurancePlanName}}</span><br><br>
                                                <span class="label label-primary m-r-15">Membership No: {{membershipNo}}</span><br><br>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <div *ngIf="type != 'OUTSIDER' && id != null && paymentType != ''">
                                                    <div *ngIf="consultations.length === 0">
                                                        <h4 class="text-primary"><b>Send Outpatient to Doctor</b></h4>
                                                        <div class="row">
                                                            <div class="col-sm-12 form-group" >
                                                                <h4 class="text-primary">Select Clinic</h4>
                                                                <select class="form-control" [(ngModel)]="clinicName" ngModel (ngModelChange)="loadClinicianNames(clinicName)" (ngModelChange)="loadConsultationFee()">
                                                                    <option></option>
                                                                    <option *ngFor="let name of clinicNames">{{name}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-12 form-group" *ngIf="clinicName != ''">
                                                                <span class="form-control" style="text-align: center;">Consultation Fee <b *ngIf="paymentType === 'INSURANCE'"></b>  <b *ngIf="paymentType != 'INSURANCE'">{{consultationFee | currency:'':''}}</b></span>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <h4 class="text-primary">Select Doctor</h4>
                                                                <select class="form-control" [(ngModel)]="clinicianName">
                                                                    <option></option>
                                                                    <option *ngFor="let name of clinicianNames">{{name}}</option>
                                                                </select>
                                                                <br>
                                                                <button class="btn btn-primary pull-right" *ngIf="clinicName != '' && clinicianName != ''" (click)="doConsultation()">Send</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="type === 'OUTSIDER'">
                                                    <h4 class="text-primary"><b>Add service for Outsider</b></h4>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-primary form-control" (click)="clearTests()" data-toggle="modal" data-target="#add-lab-test-modal">Add Lab Test</button>
                                                            <br>
                                                            <br>
                                                            <button class="btn btn-primary form-control" (click)="clearTests()" data-toggle="modal" data-target="#add-radiology-modal">Add Radiology</button>
                                                            <!--<br>
                                                            <br>
                                                            <button class="btn btn-primary form-control" (click)="clearTests()" data-toggle="modal" data-target="#add-procedure-modal">Add Procedure</button>-->
                                                            <br>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="consultations.length > 0 && id != null && type ==='OUTPATIENT'">
                                                <div class="col-sm-12 alert alert-success" role="alert" style="text-align: center;">
                                                    This patient has been assigned to the following clinic(s).
                                                </div>
                                                <div class="col-sm-12">
                                                    <table class="table table-bordered table-small table-striped">
                                                        <thead>
                                                            <tr>
                                                                <td>Clinic</td>
                                                                <td>Doctor</td>
                                                                <td>Status</td>
                                                                <td>Action</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr  *ngFor="let consultation of consultations">
                                                                <td>{{consultation.clinic.name}}</td>
                                                                <td>{{consultation.clinician.nickname}}</td>
                                                                <td>{{consultation.status}}</td>
                                                                <td><button class="btn btn-danger form-control" *ngIf="consultation.status === 'PENDING'" (click)="cancelConsultation(consultation.id)"><i class="glyphicon glyphicon-trash"></i> </button><span  *ngIf="consultation.status != 'PENDING'">No Action Required</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row" *ngIf="type === 'OUTSIDER'">
                                        <div class=" col-sm-4">
                                            <div class="table-responsive">
                                                <hr>
                                                <h4 class="text-primary"><b>Ordered Lab Tests</b></h4>
                                                <table class="table table-bordered table-small table-striped">
                                                    <thead>
                                                        <tr>
                                                            <td><b>ID</b></td>
                                                            <td><b>Test</b></td>
                                                            <td><b>Price</b></td>
                                                            <td><b>Action</b></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let labTest of labTests">
                                                            <td>{{labTest.id}}</td>
                                                            <td>{{labTest?.labTestType?.name}}</td>
                                                            <td style="text-align: right;"><span *ngIf="labTest.patientBill.status != 'COVERED'">{{labTest?.patientBill?.amount | currency:'':''}}</span><span *ngIf="labTest?.patientBill?.status === 'COVERED'">---</span></td>
                                                            <td><a class="text-danger" (click)="deleteLabTest(labTest.id)"><i class="fa fa-trash"></i>Delete</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td style="text-align: right;"><b>{{labTotal | currency:'':''}}</b></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class=" col-sm-4">
                                            <div class="table-responsive">
                                                <hr>
                                                <h4 class="text-primary"><b>Ordered Radiologies</b></h4>
                                                <table class="table table-bordered table-small table-striped">
                                                    <thead>
                                                        <tr>
                                                            <td><b>ID</b></td>
                                                            <td><b>Radiology</b></td>
                                                            <td><b>Price</b></td>
                                                            <td><b>Action</b></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let radiology of radiologies">
                                                            <td>{{radiology?.id}}</td>
                                                            <td>{{radiology?.radiologyType?.name}}</td>
                                                            <td style="text-align: right;"><span *ngIf="radiology?.patientBill?.status != 'COVERED'">{{radiology?.patientBill?.amount | currency:'':''}}</span><span *ngIf="radiology?.patientBill?.status === 'COVERED'">---</span></td>
                                                            <td><a class="text-danger" (click)="deleteRadiology(radiology?.id)"><i class="fa fa-trash"></i>Delete</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td style="text-align: right;"><b>{{radiologyTotal | currency:'':''}}</b></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class=" col-sm-4">
                                            <div class="table-responsive">
                                                <hr>
                                                <h4 class="text-primary"><b>Ordered Procedures</b></h4>
                                                <table class="table table-bordered table-small table-striped">
                                                    <thead>
                                                        <tr>
                                                            <td><b>ID</b></td>
                                                            <td><b>Procedure</b></td>
                                                            <td><b>Price</b></td>
                                                            <td><b>Action</b></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let procedure of procedures">
                                                            <td>{{procedure?.id}}</td>
                                                            <td>{{procedure?.procedureType?.name}}</td>
                                                            <td style="text-align: right;"><span *ngIf="procedure?.patientBill?.status != 'COVERED'">{{procedure?.patientBill?.amount | currency:'':''}}</span><span *ngIf="procedure?.patientBill?.status === 'COVERED'">---</span></td>
                                                            <td><a class="text-danger" (click)="deleteProcedure(procedure.id)"><i class="fa fa-trash"></i>Delete</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td style="text-align: right;"><b>{{procedureTotal | currency:'':''}}</b></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
     </section> <!-- /.content -->
     <!-- Main content -->

 <!-- Modal success -->
<div class="modal fade modal-success" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Edit Patient Details</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-primary"><b>Patient's Credentials</b></h4>
                        <input type="hidden" [(ngModel)]="id">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">First Name*</h4>
                                <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="Enter First Name" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Middle Name</h4>
                                <input type="text" class="form-control" [(ngModel)]="middleName" placeholder="Enter Middle Name">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Last Name*</h4>
                                <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Enter Last Name" required>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Date of Birth* *  {{dateOfBirth | date}}</h4>
                                <input type="date" class="form-control" [(ngModel)]="dateOfBirth" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Gender*</h4>
                                <select class="form-control" [(ngModel)]="gender">
                                    <option>{{gender}}</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Nationality</h4>
                                <select class="form-control" [(ngModel)]="nationality">
                                    <option></option>
                                    <option>Tanzania</option>
                                    <option>Kenya</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">ID No</h4>
                                <input type="text" class="form-control" [(ngModel)]="nationalId" placeholder="ID No" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Passport No</h4>
                                <input type="text" class="form-control" [(ngModel)]="passportNo" placeholder="Passport No" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Phone No</h4>
                                <input type="tel" class="form-control" [(ngModel)]="phoneNo" placeholder="Phone Number" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Email</h4>
                                <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Address</h4>
                                <textarea class="form-control" [(ngModel)]="address"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <hr>
                        <h4 class="text-primary"><b>Next of Kin Information</b></h4>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Full Name</h4>
                                <input type="text" class="form-control" [(ngModel)]="kinFullName" placeholder="Enter Full Name" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Relationship</h4>
                                <input type="text" class="form-control" [(ngModel)]="kinRelationship" placeholder="Enter Relationship with patient">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Phone No</h4>
                                <input type="tel" class="form-control" [(ngModel)]="kinPhoneNo" placeholder="Enter Phone No" required>
                            </div>
                        </div>                        
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" *ngIf="id != null" (click)="updatePatient()" data-dismiss="modal">Update</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal success -->
<div class="modal fade modal-success" id="change-patient-type-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Change Patient Type</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-primary">Select Patient Type</h4>
                        <select class="form-control" [(ngModel)]="editType">
                            <option></option>
                            <option>OUTPATIENT</option>
                            <option>OUTSIDER</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success pull-right" *ngIf="editType != ''" (click)="changeType(editType)" data-dismiss="modal">Save Change</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal success -->
<div class="modal fade modal-success" id="change-payment-type-modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Change Payment Type</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <h4 class="text-primary"><b>Select Payment Type</b></h4>
                        <select class="form-control" [(ngModel)]="editPaymentType" (ngModelChange)="changeEditPaymentType(editPaymentType)" (change)="clearEditMembershipNo()" (change)="clearEditInsurancePlanName()">
                            <option></option>
                            <option>CASH</option>
                            <option>INSURANCE</option>
                        </select>
                    </div>
                    <div class="col-sm-12 form-group" *ngIf="editPaymentType === 'INSURANCE'">
                        <h4 class="text-primary">Select Insurance Plan</h4>
                        <select class="form-control" [(ngModel)]="editInsurancePlanName" (change)="clearEditMembershipNo()">
                            <option></option>
                            <option *ngFor="let insurancePlanName of insurancePlanNames">{{insurancePlanName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-12 form-group" *ngIf="editInsurancePlanName != '' && editPaymentType === 'INSURANCE'">
                        <h4 class="text-primary">Membership No</h4>
                        <input type="text" class="form-control" [(ngModel)]="editMembershipNo" placeholder="Insurance Membership No">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success pull-right" *ngIf="(editPaymentType === 'CASH') || (editPaymentType === 'INSURANCE' && editMembershipNo != '')" data-dismiss="modal">Save Changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal success -->
<div class="modal fade modal-success" id="add-lab-test-modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Add Lab Test</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Select Lab Test</h5>
                        <select class="form-control" [(ngModel)]="labTestTypeName">
                            <option>--Select Lab Test--</option>
                            <option *ngFor="let t of labTestTypeNames">{{t}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Select Diagnosis(Provisional Diagnosis)</h4>
                        <select class="form-control" [(ngModel)]="diagnosisTypeName">
                            <option></option>
                            <option *ngFor="let name of diagnosisTypeNames">{{name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success pull-right" (click)="saveLabTest()" data-dismiss="modal">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal success -->
<div class="modal fade modal-success" id="add-radiology-modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Add Radiology</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Select Radiology</h5>
                        <select class="form-control" [(ngModel)]="radiologyTypeName">
                            <option>--Select Radiology--</option>
                            <option *ngFor="let t of radiologyTypeNames">{{t}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Select Diagnosis(Provisional Diagnosis)</h4>
                        <select class="form-control" [(ngModel)]="diagnosisTypeName">
                            <option></option>
                            <option *ngFor="let name of diagnosisTypeNames">{{name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success pull-right" (click)="saveRadiology()" data-dismiss="modal">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal success -->
<div class="modal fade modal-success" id="add-procedure-modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Add Procedure</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Select Procedure Type</h4>
                                <select class="form-control" [(ngModel)]="procedureTypeName">
                                    <option></option>
                                    <option *ngFor="let name of procedureTypeNames">{{name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <h4>Select Diagnosis</h4>
                                <select class="form-control" [(ngModel)]="diagnosisTypeName">
                                    <option></option>
                                    <option *ngFor="let name of diagnosisTypeNames">{{name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button (click)="toggleTheatre()" style="width: 4cm; height: 4cm; background-color: rgba(244, 248, 247, 0.921);border-style: groove;">Need Theatre?</button>
                    </div>
                </div>
                <div class="row" *ngIf="procedureNeedTheatre === true">
                    <div  class="col-sm-12">
                        <h4>Select Theatre</h4>
                        <select class="form-control" [(ngModel)]="theatreName">
                            <option></option>
                            <option *ngFor="let name of theatreNames">{{name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <h4>Time</h4>
                        <input type="time" class="form-control" [(ngModel)]="procedureTime">
                    </div>
                    <div class="col-sm-3">
                        <h4>Date</h4>
                        <input type="date" class="form-control" [(ngModel)]="procedureDate">
                    </div>
                    <div class="col-sm-3">
                        <h4>Hours</h4>
                        <input type="number" class="form-control" [(ngModel)]="procedureHours">
                    </div>
                    <div class="col-sm-3">
                        <h4>Minutes</h4>
                        <input type="number" class="form-control" [(ngModel)]="procedureMinutes">
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success pull-right" (click)="saveProcedure()" data-dismiss="modal">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



