<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Consultation Plan</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <!--<div class="btn"> 
                        <button type="button" class="btn btn-success m-r-2 m-b-5" (click)="clear()" data-toggle="modal" data-target="#add-edit-modal">New</button>
                    </div>-->
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <!--<table class="table table-bordered table-small">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Provider</td>
                                    <td>Plan</td>
                                    <td>Clinic</td>
                                    <td>Consultation Fee</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let consultationPlan of consultationPlans">
                                    <td>{{consultationPlan.id}}</td>
                                    <td>{{consultationPlan.insurancePlan.insuranceProvider.name}}</td>
                                    <td>{{consultationPlan.insurancePlan.name}}</td>
                                    <td>{{consultationPlan.clinic.name}}</td>
                                    <td style="text-align: right;">{{consultationPlan.consultationFee | currency:'':''}}</td>
                                    <td>[<a class="" (click)="getConsultationPlan(consultationPlan.id)" data-toggle="modal" data-target="#add-edit-modal"><i class="glyphicon glyphicon-pencil"></i>Edit</a>][
                                        <a class="" (click)="deleteConsultationPlan(consultationPlan.id)"><i class="glyphicon glyphicon-trash"></i> Delete</a>]
                                    </td>
                                </tr>
                            </tbody>
                        </table>-->
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-transparent btn-inverse form-control" style="border-radius: 0px;">CASH</button>
                            </div>
                            <div class="col-sm-2" *ngFor="let p of insurancePlans">
                                <button class="btn btn-transparent btn-inverse form-control" style="border-radius: 0px;">{{p.name}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</section> <!-- /.content -->

 <!-- Modal success -->
<div class="modal fade modal-success" id="add-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" *ngIf="id === null">Add Plan</h1>
                <h1 class="modal-title" *ngIf="id != null">Edit Plan</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Select Insurance Provider*</label>
                        <select class="form-control" [(ngModel)]="insuranceProviderName" (ngModelChange)="loadInsurancePlanNamesByProviders(insuranceProviderName)">
                            <option>{{insuranceProviderName}}</option>
                            <option></option>
                            <option *ngFor="let insuranceProviderName of insuranceProviderNames">{{insuranceProviderName}}</option>
                        </select>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-12">
                        <label>Select Insurance Plan*</label>
                        <select class="form-control" [(ngModel)]="insurancePlanName">
                            <option>{{insurancePlanName}}</option>
                            <option></option>
                            <option *ngFor="let insurancePlanName of insurancePlanNames">{{insurancePlanName}}</option>
                        </select>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-12">
                        <label>Select Clinic*</label>
                        <select class="form-control" [(ngModel)]="clinicName">
                            <option>{{clinicName}}</option>
                            <option></option>
                            <option *ngFor="let clinicName of clinicNames">{{clinicName}}</option>
                        </select>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-12">
                        <label>Consultation Fee*</label>
                        <input type="number" class="form-control" [(ngModel)]="consultationFee" style="text-align: center;">
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="saveConsultationPlan()" data-dismiss="modal">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->