<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>User Profile</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <a routerLink="/home"><button class="btn btn-primary btn-outline" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="glyphicon glyphicon-home"></i>Home</button></a>
                    <button class="btn btn-primary btn-outline" *ngIf="grant(['USER-C'])" (click)="clearFields()" (click)="unlockInputs()" data-mdb-toggle="tooltip" title="Create a new User"><i class="glyphicon glyphicon-file"></i>New</button>
                    <button class="btn btn-primary btn-outline" *ngIf="grant(['USER-U'])" (click)="unlockInputs()" data-mdb-toggle="tooltip" title="Edit an existing User"><i class="glyphicon glyphicon-pencil"></i>Edit</button>
                    <button class="btn btn-primary btn-outline" *ngIf="grant(['USER-D'])" (click)="deleteUser()" [disabled]="enableSave === false" data-mdb-toggle="tooltip" title="Delete an existing User"><i class="glyphicon glyphicon-trash"></i>Delete</button>
                    <button class="btn btn-primary btn-outline" *ngIf="grant(['USER-C','USER-U'])" (click)="saveUser()" [disabled]="enableSave === false" data-mdb-toggle="tooltip" title="Save or Update an existing User"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <br>
                        <input type="hidden" name="id" [(ngModel)]="id">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Username*</h4>
                                <input class="form-control input-sm special" type="text" name="username" [(ngModel)]="username" list="users" [readonly]="usernameLocked" minlength="6" maxlength="50" autocomplete="off">                               
                                <datalist id="users" style="padding: 0px;">
                                    <option *ngFor="let user of users" [ngValue]="user">{{user.username}}</option>
                                </datalist>
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-success form-control" *ngIf="grant(['USER-READ'])" (click)="getUser(username)"><i class="fas fa-search"></i>Search</button>                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Password* (6 or more characters)</h4>
                                <input class="form-control input-sm special" type="password" name="password" [(ngModel)]="password" [readonly]="passwordLocked" autocomplete="new-password">                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Confirm Password*</h4>
                                <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control input-sm special" [readonly]="passwordConfLocked" autocomplete="off">                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Code</h4>
                                <input type="text" name="code" [(ngModel)]="code" class="form-control input-sm special" readonly autocomplete="off">                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>First Name*</h4>
                                <input class="form-control input-sm special" type="text" name="firstName" [(ngModel)]="firstName" [readonly]="firstNameLocked" autocomplete="off">                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Middle Name</h4>
                                <input type="text" name="middleName" [(ngModel)]="middleName" class="form-control input-sm special" [readonly]="middleNameLocked" autocomplete="off">                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Last Name*</h4>
                                <input type="text" name="lastName" [(ngModel)]="lastName" class="form-control input-sm special" [readonly]="lastNameLocked" autocomplete="off">                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Nickname*</h4>
                                <input type="text" name="nickname" [(ngModel)]="nickname" class="form-control input-sm special" [readonly]="aliasLocked" autocomplete="off">                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Active/Inactive</h4>
                                <input type="checkbox" id="active" name="active" [(ngModel)]="active"><label for="active"> Active</label><br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Check Roles</h4>
                                <div class="row">
                                    <div class="col-12" *ngFor="let role of roles">
                                        <input type="checkbox" id="role.name" name="role.name" [(ngModel)]="role.granted"><label for="{{role.name}}">{{role.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <br>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <td>Code</td>
                                    <td>Name</td>
                                    <td>Nickname</td>
                                    <td>Active</td>
                                    <td>Select</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.code}}</td>
                                    <td>{{user.lastName}}, {{user.firstName}}</td>
                                    <td>{{user.nickname}}</td>
                                    <td>{{user.active}}</td>
                                    <td>[<a (click)="getUser(user.username)" style="cursor: pointer;">Select</a>]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>
     </div>     
 </section> <!-- /.content -->

 <!-- Modal success -->
 <div class="modal fade modal-success" id="add-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title">Add User</h1>
            </div>
            <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->