<body class="hold-transition sidebar-mini">

  <div *ngIf="isLoggedIn===false">
      <app-login></app-login>
    </div>


  <!-- Site wrapper -->
  <div class="wrapper" *ngIf="isLoggedIn===true">
      <header class="main-header">
          <a href="index.html" class="logo"> <!-- Logo -->
              <span class="logo-mini">
                  <!--<b>A</b>H-admin-->
                  <!--<img src="assets/dist/img/mini-logo.png" alt="">-->
              </span>
              <span class="logo-lg" style="margin-top: 4mm;">
                  <!--<b>Admin</b>H-admin-->
                  <img src="assets/dist/img/zana-logo.png" alt="">
              </span>
          </a>
          <!-- Header Navbar -->
          <nav class="navbar navbar-static-top ">
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button-->
                  <span class="sr-only">Toggle navigation</span>
                  <span class="fa fa-tasks"></span>
              </a>
              <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 

                              <i class="hvr-buzz-out fa fa-user"></i><span style="color: wheat;">{{userName}}</span>
                          <div>
                          <!--<img src="assets/dist/img/avatar4.png" class="img-circle" height="40" width="40" alt="User Image">-->
                            
                          </div>
                          </a>
                          <ul class="dropdown-menu">
                              <!--<li><a href="profile.html"><i class="fa fa-users"></i> User Profile</a></li>
                              <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>-->
                              <li (click)="logout()" style="height: 2cm;"><a href="#" style="height: 2cm;"> <h4><i class="fa fa-sign-out"></i>Logout</h4></a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <!-- =============================================== -->
      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
          <!-- sidebar -->
          <div class="sidebar">
              <!-- Sidebar user panel -->
              <!--<div class="user-panel">
                  <div class="image pull-left">
                      <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
                  </div>
                  <div class="info">
                      <h4>Welcome</h4>
                      <h5 style="color: white;">{{userName}}</h5>
                  </div>
              </div>-->
              
              <!-- sidebar menu -->
                <ul class="sidebar-menu">
                    <li class="active">
                      <a href="index.html"><i class="fa fa-hospital-o"></i><span>Dashboard</span>
                      </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-md"></i><span>Patient</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a routerLink="/patient-register">Patient Register</a></li>
                            <!--<li><a href="#">Outsider Patient</a></li>
                            <li><a href="#">NHIF Patient List</a></li>-->
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-md"></i><span>Doctor</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a routerLink="/list-from-reception">List From Reception</a></li>
                            <li><a routerLink="/my-consultation">My Consultations</a></li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>Procedure</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/procedure-outpatient-list">Outpatient List</a></li>
                                    <li><a routerLink="/procedure-inpatient-list">Inpatient List</a></li>
                                    <li><a routerLink="/procedure-outsider-list">Outsider List</a></li>
                                </ul>
                            </li>
                        </ul>
                        
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-md"></i><span>Laboratory</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a routerLink="/lab-outpatient-list">Outpatient List</a></li>
                            <li><a routerLink="/lab-inpatient-list">Inpatient List</a></li>
                            <li><a routerLink="/lab-outsider-list">Outsider List</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-md"></i><span>Radiology</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a routerLink="/radiology-outpatient-list">Outpatient List</a></li>
                            <li><a routerLink="/radiology-inpatient-list">Inpatient List</a></li>
                            <li><a routerLink="/radiology-outsider-list">Outsider List</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-md"></i><span>Pharmacy</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a routerLink="/select-pharmacy">Select Pharmacy</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-md"></i><span>Cashier</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <!--<li><a routerLink="/patient-payment">Receive Payments</a></li>-->
                            <li><a routerLink="/registration-payment">Reception</a></li>
                            <li><a routerLink="/lab-test-payment">Lab Investigation</a></li>
                            <li><a routerLink="/radiology-payment">Radiology</a></li>
                            <li><a routerLink="/medication-payment">Medication</a></li>
                            <li><a routerLink="/procedure-payment">Procedure</a></li>
                            <li><a href="#">Invoice</a></li>
                            <li><a routerLink="/registration-price">Price View</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-md"></i><span>Admin</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>Medical Operations</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/diagnosis-type">Diagnosis Type</a></li>
                                    <li><a routerLink="/lab-test-type">Lab Test Type</a></li>
                                    <li><a routerLink="/lab-test-type-range">Lab Test Type Ranges</a></li>
                                    <li><a routerLink="/procedure-type">Procedure Type</a></li>
                                    <li><a routerLink="/radiology-type">Radiology Type</a></li>
                                    <li><a routerLink="/medicine">Medicine</a></li>
                                </ul>

                            </li>
                        </ul>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>Insurance Management</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/insurance-provider">Insurance Provider</a></li>
                                    <li><a routerLink="/insurance-plan">Insurance Plan</a></li>
                                </ul>

                            </li>
                        </ul>
                        
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>Insurance Plan Pricing</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/registration-plan">Registration Plan</a></li>
                                    <li><a routerLink="/consultation-plan">Consultation Plan</a></li>
                                    <li><a routerLink="/lab-test-plan">Lab Test Plan</a></li>
                                    <li><a routerLink="/procedure-plan">Medical Procedure Plan</a></li>
                                    <li><a routerLink="/radiology-plan">Radiology Plan</a></li>
                                    <li><a routerLink="/medicine-plan">Medicine Plan</a></li>
                                </ul>

                            </li>
                        </ul>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>User and Access</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/user-profile">User Profile</a></li>
                                    <li><a routerLink="/role">Roles</a></li>
                                    <li><a routerLink="/access-management">Access Management</a></li>
                                </ul>

                            </li>
                        </ul>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>Personel Management</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/clinician">Doctor</a></li>
                                    <li><a routerLink="/pharmacist">Pharmacist</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>Medical Units</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/clinic">Clinic</a></li>
                                    <li><a routerLink="/pharmacy">Pharmacy</a></li>
                                    <li><a routerLink="/theatre">Theatre</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>Stakeholders</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/supplier-register">Supplier Register</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-md"></i><span>Inventory</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a routerLink="/item-register">Item Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                  
                  <li class="treeview">
                      <a href="#">
                          <i class="fa fa-file-text"></i><span>Report</span>
                          <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                      </span>
                  </a>
                  <ul class="treeview-menu">
                      <li><a href="patient-wise-report.html">Patient wise Report</a></li>
                      <li><a href="doctor-wise-report.html">Doctor wise Report</a></li>
                      <li><a href="total-report.html">Total Report</a></li>
                  </ul>
              </li>
             
      </ul>
  </div> <!-- /.sidebar -->
</aside>
      <!-- =============================================== -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <router-outlet></router-outlet>
          <!--<app-dashboard></app-dashboard>-->
      </div><!-- /.content-wrapper -->
       
      <footer class="main-footer">
          <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>
          <strong>Copyright &copy; 2023 <a href="#">Zana Health Care</a>.</strong> All rights reserved.
      </footer>
  </div> <!-- ./wrapper -->
</body>
<ngx-spinner>Processing, Please wait...</ngx-spinner>