<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>My Consultations</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="success">
                                <tr>
                                    <th>File No</th>
                                    <th>Name</th>
                                    <th>Sex</th>
                                    <th>Date of Birth</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MRN0001</td>
                                        <td>Godfrey Shirima</td>
                                        <td>Male</td>
                                        <td>April, 14 1989</td>
                                        <td>PENDING</td>
                                        <td><a class="btn btn-success" routerLink="/doctor-cracking">Attend</a></td>
                                    </tr>
                                    <tr>
                                        <td>MRN0001</td>
                                        <td>Godfrey Shirima</td>
                                        <td>Male</td>
                                        <td>April, 14 1989</td>
                                        <td>PENDING</td>
                                        <td><a class="btn btn-success" routerLink="/doctor-cracking">Attend</a></td>
                                    </tr>
                                    <tr>
                                        <td>MRN0001</td>
                                        <td>Godfrey Shirima</td>
                                        <td>Male</td>
                                        <td>April, 14 1989</td>
                                        <td>PENDING</td>
                                        <td><a class="btn btn-success" routerLink="/doctor-cracking">Attend</a></td>
                                    </tr>
                                    <tr>
                                        <td>MRN0001</td>
                                        <td>Godfrey Shirima</td>
                                        <td>Male</td>
                                        <td>April, 14 1989</td>
                                        <td>PENDING</td>
                                        <td><a class="btn btn-success" routerLink="/doctor-cracking">Attend</a></td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                    </div> 
                    
             </div>
         </div>
     </div>
     
 </section> <!-- /.content -->