<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Radiology</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/radiology-outpatient-list">Outpatient List</a>
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/radiology-inpatient-list">Inpatient List</a>
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/radiology-outsider-list">Outsider List</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <h3 class="text-primary"><b>{{patient.firstName}} {{patient.middleName}} {{patient.lastName}}</b>, <b>{{patient.no}}</b>, Date of birth: <b>{{patient.dateOfBirth | date}}</b>,Age: <b>{{patient.dateOfBirth | age}}</b>, {{patient.gender}}, {{patient.paymentType}}</h3>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-6" *ngFor="let radiology of radiologies">
                        <div class="row" style="margin: 1mm; background-color: rgb(246, 246, 248);">
                            <div class="col-sm-12">
                                <h4><b>{{radiology.radiologyType?.name}}</b></h4>
                                <span>Diagnosis: {{radiology.diagnosis}} <span class="label label-warning m-r-15" *ngIf="radiology.diagnosis === ''">NONE</span></span><br>
                                <small>Doctor: </small><br>
                                <small>Ordered on: </small><br>
                                <small>Radiology ID </small><span class="label label-primary m-r-15">{{radiology?.id}}</span>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="text-info"><b>Clinical History</b></h4>
                                        <span>{{radiology.description}}</span>
                                    </div>
                                    <div class="col-xs-6">
                                        
                                    </div>
                                </div>
                                
                                
                                
                                <hr>
                            </div>
                            <div>
                                <div class="col-sm-12">
                                    <textarea class="form-control" *ngIf="radiology?.status === 'ACCEPTED'" [(ngModel)]="radiology.result" placeholder="Input Results" style="height: 5cm;"></textarea>
                                    <textarea class="form-control" *ngIf="radiology?.status === 'VERIFIED'" [(ngModel)]="radiology.result" placeholder="Input Results" style="height: 5cm;" readonly></textarea>
                                </div>
                                <div class="row" style="padding-left: 3mm; padding-right: 3mm;">
                                    <div class="col-xs-6">
                                        <span class="label label-success m-r-15"><small>{{radiology.status}}</small></span>
                                        <button class="btn btn-default btn-rounded" (click)="acceptRadiology(radiology)">Accept</button>
                                        <button class="btn btn-default btn-rounded" (click)="rejectRadiology(radiology)">Reject</button>
                                    </div>

                                    <div class="col-sm-3">
                                        <span>Description</span>
                                        <input type="text" class="form-control" [(ngModel)]="radiology.description" placeholder="Description">
                                    </div>
                                    <div class="col-sm-3">
                                        <span>Attachment</span>
                                        <input type="file" class="form-control">
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 3mm; padding-right: 3mm;">
                                    <br>
                                    <div class="col-sm-12">
                                        <span class="label label-info m-r-15">Verified: {{radiology.verified}}</span>
                                    </div>
                                    <div class="col-sm-12" style="text-align: right;">
                                        <button class="btn btn-primary" (click)="verifyRadiology(radiology)">Verify Results</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="radiology?.status === 'REJECTED'">
                                <br>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5>Reason for rejection</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Reason for rejection">
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div> 
                    
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->
