<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Doctor Cracking</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn-group"> 
                        <a class="btn btn-primary" routerLink="/my-consultation"> <i class="fa fa-list"></i>My Consultations</a>  
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            patient details
                        </div>
                        <div class="col-sm-6">
                            clinical notes
                        </div>
                        <div class="col-sm-6">
                            general examination
                        </div>
                        <div class="col-sm-6">
                            working diagnosis
                        </div>
                        <div class="col-sm-6">
                            final diagnosis
                        </div>
                        <div class="col-sm-6">
                            laboratory
                        </div>
                        <div class="col-sm-6">
                            radiology
                        </div>
                        <div class="col-sm-12">
                            medications
                        </div>
                        <div class="col-sm-12">
                            procedure
                        </div>
                    </div>
                    
                </div> 
                    
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->