<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>List From Reception</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="success">
                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Patient's File No</th>
                                <th>Payment Type</th>
                                <th>Dr. Name</th>
                                <th>Duration</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>ZAN/2023/01</td>
                                    <td>CASH</td>
                                    <td>Dr Mkenda</td>
                                    <td>00:06:00pm</td>
                                    <td><a class="btn btn-success" routerLink="/doctor-cracking">Confirm</a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div> 
                    
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->