<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Lab Test Type Ranges</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn"> 
                        <button type="button" class="btn btn-success m-r-2 m-b-5" (click)="clear()" data-toggle="modal" data-target="#add-edit-modal">New</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-small">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Name</td>
                                    <td>Lab Test Type</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let labTestTypeRange of labTestTypeRanges">
                                    <td>{{labTestTypeRange.id}}</td>
                                    <td>{{labTestTypeRange.name}}</td>
                                    <td>{{labTestTypeRange.labTestType.name}}</td>
                                    <td><a (click)="getLabTestTypeRange(labTestTypeRange.id)" data-toggle="modal" data-target="#add-edit-modal"><i class="glyphicon glyphicon-pencil"></i>Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>
     </div>     
 </section> <!-- /.content -->

 <!-- Modal success -->
 <div class="modal fade modal-success" id="add-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" *ngIf="id === null">Add Range</h1>
                <h1 class="modal-title" *ngIf="id != null">Edit Range</h1>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <input type="hidden" [(ngModel)]="id">
                        
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Range Name*</label>
                            <input type="text" class="form-control" [(ngModel)]="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Select Test Type*</label>
                            <select class="form-control" [(ngModel)]="labTestTypeName">
                                <option></option>
                                <option *ngFor="let labTestTypeName of labTestTypeNames">{{labTestTypeName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveLabTestTypeRange()"><span *ngIf="id != null">Update</span><span *ngIf="id === null">Add</span></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->