<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Lab Test</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/lab-outpatient-list">Outpatient List</a>
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/lab-inpatient-list">Inpatient List</a>
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/lab-outsider-list">Outsider List</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 alert alert-primary" role="alert">
                            <h4>Name: <b>{{patient?.firstName}} {{patient?.middleName}} {{patient?.lastName}}</b>, File No: <b>{{patient?.no}}</b>, Date of birth: <b>{{patient?.dateOfBirth | date}}</b>, {{patient?.gender}}, {{patient?.paymentType}}</h4>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-6" *ngFor="let labTest of labTests">
                        <div class="row" style="margin: 1mm; background-color: rgb(246, 246, 248);">
                            <div class="col-sm-12">
                                <h4><b>{{labTest.labTestType.name}}</b></h4>
                            </div>
                            <div class="col-sm-12">
                                <span class="label label-success m-r-15"><small>{{labTest.status}}</small></span>
                                <button class="btn btn-default btn-rounded" (click)="acceptLabTest(labTest)">Accept</button>
                                <button class="btn btn-default btn-rounded" (click)="rejectLabTest(labTest)">Reject</button>
                                <button class="btn btn-default btn-rounded" (click)="holdLabTest(labTest)">Hold</button>
                                <button class="btn btn-default btn-rounded" (click)="collectLabTest(labTest)">Collect</button>
                                <hr>
                            </div>
                            <small>Last Tested </small><span class="label label-warning m-r-15">NONE</span><br>
                            <small>Doctor: </small><br>
                            <small>Ordered on: </small><br>
                            <small>Test ID </small><span class="label label-primary m-r-15">{{labTest?.id}}</span>
                            <div *ngIf="labTest?.status === 'ACCEPTED' || labTest?.status === 'COLLECTED' || labTest?.status === 'VERIFIED'">
                                <div class="col-sm-12">
                                    <textarea class="form-control" [(ngModel)]="labTest.result" placeholder="Input Results" style="height: 5cm;"></textarea>
                                </div>
                                <div class="row" style="padding-left: 3mm; padding-right: 3mm;">
                                    <div class="col-sm-3">
                                        <span>Range</span>
                                        <select class="form-control" [(ngModel)]="labTest.range">
                                            <option></option>
                                            <option *ngFor="let range of labTest.labTestType.labTestTypeRanges">{{range.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <span>Level</span>
                                        <select class="form-control" [(ngModel)]="labTest.level">
                                            <option></option>
                                            <option>Low</option>
                                            <option>Medium</option>
                                            <option>High</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <span>Unit</span>
                                        <input type="text" class="form-control" [(ngModel)]="labTest.unit" placeholder="Unit">
                                    </div>
                                    <div class="col-sm-3">
                                        <span>Attachment</span>
                                        <input type="file" class="form-control">
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 3mm; padding-right: 3mm;">
                                    <br>
                                    <div class="col-sm-12">
                                        <span class="label label-info m-r-15">Verified By: {{labTest.verified}}</span>
                                    </div>
                                    <div class="col-sm-12" style="text-align: right;">
                                        <button class="btn btn-primary" (click)="verifyLabTest(labTest)">Verify Results</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="labTest?.status === 'REJECTED'">
                                <br>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5>Reason for rejection</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Reason for rejection">
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div> 
                    
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->
