<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Lab Test</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/lab-outpatient-list">Outpatient List</a>
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/lab-inpatient-list">Inpatient List</a>
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/lab-outsider-list">Outsider List</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 alert alert-primary" role="alert">
                            <h3 class="text-primary">Name: <b>{{patient.firstName}} {{patient.middleName}} {{patient.lastName}}</b>, File No: <b>{{patient.no}}</b>, Date of birth: <b>{{patient.dateOfBirth | date}}</b>, Age: <b>{{patient.dateOfBirth | age}}</b>, {{patient.gender}}, {{patient.paymentType}}</h3>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-12" *ngFor="let labTest of labTests">
                        <div class="row" style="margin: 1mm; background-color: rgb(246, 246, 248);">
                            <div class="col-sm-4">
                                <h4><b>{{labTest.labTestType.name}}</b></h4>
                                <span>Status: </span><span><small>{{labTest.status}}</small></span><br><br>
                                <span>Diagnosis: {{labTest?.diagnosisType?.name}} <span *ngIf="labTest?.diagnosisType?.name === null">NONE</span></span><br><br>
                                <small>Ordered At | By: {{labTest?.created}}</small><br>
                                <h4 class="text-info"><b>Clinical History</b></h4>
                                <span>{{labTest.description}}</span><br>
                                <button class="btn btn-default btn-rounded" (click)="acceptLabTest(labTest)">Accept</button>
                                <button class="btn btn-default btn-rounded" (click)="rejectLabTest(labTest)">Reject</button>
                                <button class="btn btn-default btn-rounded" (click)="collectLabTest(labTest)">Collect</button>
                               
                                <div *ngIf="labTest?.status === 'REJECTED'">
                                    <h5>Reason for rejection</h5>
                                    <input type="text" class="form-control" [(ngModel)]="labTest.rejectComment" placeholder="Reason for rejection"><br>
                                    <button class="btn btn-info" (click)="saveReasonForRejection(labTest.id, labTest.rejectComment)">Save Reason for Rejection</button>
                                </div>
                                 <hr>
                            </div>
                            <div class="col-sm-4">
                                <div class="row" *ngIf="labTest?.status === 'ACCEPTED' || labTest?.status === 'COLLECTED' || labTest?.status === 'VERIFIED'" style="padding-left: 3mm; padding-right: 3mm;">
                                    <div class="col-sm-12">
                                        <span>Results</span>
                                        <textarea class="form-control" *ngIf="labTest?.status === 'ACCEPTED'" [(ngModel)]="labTest.result" placeholder="Input Results" style="height: 5cm;" readonly></textarea>
                                        <textarea class="form-control" *ngIf="labTest?.status === 'VERIFIED'" [(ngModel)]="labTest.result" placeholder="Input Results" style="height: 5cm;" readonly></textarea>
                                        <textarea class="form-control" *ngIf="labTest?.status === 'COLLECTED'" [(ngModel)]="labTest.result" placeholder="Input Results" style="height: 5cm;"></textarea>
                                    </div>
                                    <div class="col-sm-4">
                                        <span>Range</span>
                                        <select class="form-control" [(ngModel)]="labTest.range">
                                            <option></option>
                                            <option *ngFor="let range of labTest.labTestType.labTestTypeRanges">{{range.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <span>Level</span>
                                        <select class="form-control" [(ngModel)]="labTest.level">
                                            <option></option>
                                            <option>Low</option>
                                            <option>Medium</option>
                                            <option>High</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <span>Unit</span>
                                        <input type="text" class="form-control" [(ngModel)]="labTest.unit" placeholder="Unit">
                                    </div>
                                    <div class="col-sm-6">
                                        <span>Attachment</span>
                                        <input type="file" class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <br>
                                        <button class="btn btn-primary" (click)="verifyLabTest(labTest)">Verify Results</button>
                                    </div>
                                    <div class="col-sm-12">
                                        <br>
                                        <span class="label label-info m-r-15">Verified At | By: {{labTest.verified}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                    
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->
